<table>
  <tr>
    <td>
      <div style="font-size:20px; color:#484870!important; padding: 13px 0 ;display: block;text-align:left">
      	<div>
      		A continuación se muestran los clientes interesados en el AUTO @CAR_NAME:
      	</div>
      	<br />
        @KEY_EMAIL_CANCELLED_RESERVATIONS_LEADS
      </div>
    </td>
  </tr> 
</table>