<!-- SECCION GRIS: SALUDO AL CLIENTE E INFORMACION  --> 
           
         <div style="background-color: transparent;">
           <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #F2F2F2;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #F2F2F2;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#F2F2F2;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->

                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 14px; line-height: 17px; text-align: justify">HOLA
                             @USER_NAME,
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">
                             &#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: justify">
			          			Te informamos que tus <b>7 d&iacute;as de prueba</b> han llegado a su final. Nos alegra saber que te enamoraste 
			          			de tu Kavak y no has aplicado a la devoluci&oacute;n.
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">
                             &#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: justify">
                           		Lamentablemente tengo que informarte que <b>no hemos podido iniciar los tr&aacute;mites del auto</b> porque tenemos 
                             	informaci&oacute;n que confirmar contigo.
                           </p>
                           	<p style="margin: 0; font-size: 14px; line-height: 17px">
                             &#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: justify">
			          			Por favor ponte en contacto con nosotros en la brevedad para que podamos seguir brind&aacute;ndote la mejor 
			          			experiencia en la compra de tu auto.
                           </p>
                           
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>

                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION GRIS: SALUDO AL CLIENTE E INFORMACION  --> 
         
         
         
         <!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->

                       <table border="0" cellpadding="0" cellspacing="0" width="100%" class="divider " style="border-collapse: collapse; table-layout: fixed; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                       <tbody>
                         <tr style="vertical-align: top">
                           <td class="divider_inner" style="word-break: break-word; border-collapse: collapse !important; vertical-align: top; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; min-width: 100%; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                             <table class="divider_content" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; table-layout: fixed; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; vertical-align: top; border-top: 1px solid #BBBBBB; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                               <tbody>
                                 <tr style="vertical-align: top">
                                   <td style="word-break: break-word; border-collapse: collapse !important; vertical-align: top; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                                     <span></span>
                                   </td>
                                 </tr>
                               </tbody>
                             </table>
                           </td>
                         </tr>
                       </tbody>
                     </table>


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>DATOS DE CONTACTO</strong>
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;  text-transform: uppercase;">
                               @KEY_EMAIL_AFTER_SALE_KAVAKO_NAME
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;  text-transform: uppercase;">
                               <strong>T</strong>:
                               <a href="tel:@KEY_EMAIL_AFTER_SALE_KAVAKO_PHONE">@KEY_EMAIL_AFTER_SALE_KAVAKO_PHONE</a>
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;  text-transform: uppercase;">
                               <strong>E</strong>:
                               @KEY_EMAIL_AFTER_SALE_KAVAKO_EMAIL
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;  text-transform: uppercase;">
                               <strong>ID</strong>:
                               @CAR_ID
                             </span>
                           </p>
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>

                     <table border="0" cellpadding="0" cellspacing="0" width="100%" class="divider " style="border-collapse: collapse; table-layout: fixed; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                       <tbody>
                         <tr style="vertical-align: top">
                           <td class="divider_inner" style="word-break: break-word; border-collapse: collapse !important; vertical-align: top; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; min-width: 100%; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                             <table class="divider_content" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; table-layout: fixed; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; vertical-align: top; border-top: 1px solid #BBBBBB; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                               <tbody>
                                 <tr style="vertical-align: top">
                                   <td style="word-break: break-word; border-collapse: collapse !important; vertical-align: top; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%">
                                     <span></span>
                                   </td>
                                 </tr>
                               </tbody>
                             </table>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->
         
         
         
         <!-- SECCION GRIS: COMPLEMENTO Y DESPEDIDA  --> 
           
         <div style="background-color: transparent;">
           <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #F2F2F2;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #F2F2F2;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#F2F2F2;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->

                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: justify">
					          Cuando se hayan enviado los documentos te informaremos de la empresa y n&uacute;mero de gu&iacute;a para que puedas 
					          hacer el seguimiento.
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">
                             &#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: justify">
                           	&iexcl;Gracias por confiar en KAVAK!
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px; color:#ffffff !important">
                             <span style="font-size: 14px; line-height: 16px; color:#ffffff !important">
                               P-207
                             </span>
                           </p>
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>

                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION GRIS: COMPLEMENTO Y DESPEDIDA  -->
         