<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               Te informamos que tus tr&aacute;mites de @KEY_EMAIL_PAPERWORK_TYPE en @KEY_EMAIL_FINAL_PLATE_STATUS ya han 
          						sido enviados, bajo las siguientes caracter&iacute;sticas.
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                          <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br><br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>Auto:</strong>:
                               @CAR_NAME
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>Direcci&oacute;n de entrega:</strong>
								@KEY_EMAIL_SHIPPING_ADDRESS
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>Paqueter&iacute;a:</strong>
								@KEY_EMAIL_SHIPPING_COURRIER
                             </span>
                           </p>                       
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>N&uacute;mero de gu&iacute;a:</strong>
								@KEY_EMAIL_TRACKING_NUMBER
                             </span>
                           </p>
                           
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px; ">
                               <strong>Nombre de quien recibe:</strong>
								@KEY_EMAIL_PERSON_WHO_RECEIVE
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             	<span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                             	Si quieres revisar el estatus del env&iacute;o ingresa directo en la p&aacute;gina 
                             	de <a href="@KEY_EMAIL_TRACKING_URL" target="_blank" >@KEY_EMAIL_SHIPPING_COURRIER</a> 
         						 y con el n&uacute;mero de gu&iacute;a puedes checar donde se encuentran los documentos.
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             	<span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               &iexcl;Gracias por confiar en KAVAK.
                             </span>
                           </p>    
                       		<p style="margin: 0; font-size: 12px; line-height: 14px; color:#ffffff !important">
                             <span style="font-size: 14px; line-height: 16px; color:#ffffff !important">
                               P-202
                             </span>
                           </p> 
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>


                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->