
            <!-- SECCION GRACIAS POR COMPRAR UN KAVAK  -->
            
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->


                    		<div align="center" class="img-container center  autowidth  " style="padding-right: 0px;  padding-left: 0px;">
								<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
								<div style="line-height:5px;font-size:1px">&#160;</div>  
								<img class="center  autowidth " align="center" border="0" src="https://www.kavak.com/assets/kavak/email/header/header-entregas.png" alt="Kavak" title="Bienvenido a la familia" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 601px" width="601">
								<!--[if mso]></td></tr></table><![endif]-->
							</div>
 

                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- SECCION GRACIAS POR COMPRAR UN KAVAK  -->
            
            
            
            
            <!-- SECCION GRIS: SALUDO AL CLIENTE  --> 
              
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#F2F2F2;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div class="">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                          <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                              	HOLA @USER_NAME
                              </p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px">
                                &#160;<br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                Gracias por dejarnos ser parte de esta decisi&oacute;n tan importante que es comprar un auto. Esperamos que toda la experiencia haya sido de tu 
                                agrado y te enamores de tu auto tanto como nosotros.
                              </p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px">
                                &#160;<br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                Nos encantar&iacute;a que nos contaras c&oacute;mo ha sido tu experiencia hasta ahora y nos permitas seguir creciendo con tus comentarios y opiniones.
                              </p>
                            </div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- FIN SECCION GRIS: SALUDO AL CLIENTE --> 
            
            
            
            
             <!-- SECCION DE VALORACION DE KAVAK -->
            
            <form accept-charset="UTF-8" action="@KEY_EMAIL_CUSTOMER_REVIEW_SEO_URL" method="GET" style="text-align:center" enctype="text/plain">
            <div style="background-color: transparent;">
              <!--
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #F2F2F2;" class="block-grid ">
                -->
                <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid mixed-two-up ">
                
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #F2F2F2;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#F2F2F2;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div class="">
                        <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                          	<div style="color: #000000; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            	<div style="font-size: 16px; line-height: 17px; color: #000000; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              	<p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center">
                                <strong> 
                                  <span style="font-size: 14px; line-height: 17px;">
                                    &iquest;C&Oacute;MO HA SIDO TU EXPERIENCIA CON KAVAK HASTA AHORA? 
                                  </span>
                                </strong>
                              </p>
                              <br/>
		                      		<table align="center" cellpadding="10">
		                              		<tr>
		                                  		<td align="center">
		                                    		<input name="review_score" type="radio" value="1" style="font-family:inherit;color:#003366;margin-right:2px"><br />
		                                    		★
		                                  		</td>
		                                  		<td align="center">
		                                    		<input name="review_score" type="radio" value="2" style="font-family:inherit;color:#003366;margin-right:2px"><br />
		                                  			★★
		                                  		</td>
		                                  		<td align="center">
		                                    		<input name="review_score" type="radio" value="3" style="font-family:inherit;color:#003366;margin-right:2px"><br />
		                                  			★★★
		                                  		</td>
		                                  		<td align="center">
		                                    		<input name="review_score" type="radio" value="4" style="font-family:inherit;color:#003366;margin-right:2px"><br />
		                                  			★★★★
		                                  		</td>
		                                  		<td align="center">
		                                    		<input name="review_score" type="radio" value="5" style="font-family:inherit;color:#003366;margin-right:2px"><br />
		                                  			★★★★★
		                                  		</td>
		                                	</tr>
		                                	<tr>
		                                  		<td align="center">
		                                    		DEFICIENTE
		                                  		</td>
		                                  		<td align="center">
		                                    		ACEPTABLE
		                                  		</td>
		                                  		<td align="center">
		                                    		BUENO
		                                  		</td>
		                                  		<td align="center">
		                                    		MUY BUENO
		                                  		</td>
		                                  		<td align="center">
		                                    		EXCELENTE
		                                  		</td>
		                                	</tr>
		                              </table>
                            	</div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <div align="center" class="button-container center" style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:157pt;" arcsize="10%" strokecolor="#000000" fillcolor="#000000"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; font-size:16px;"><![endif]-->
							<input type="hidden" name="review_type" value="venta" />
							<input type="hidden" name="source" value="P-200" />
							<input type="hidden" name="user_id" value="@USER_ID" />
							<input type="hidden" name="stock_id" value="@CAR_ID" />
							
							<textarea name="review_content" cols="40" rows="5" placeholder="ESCRIBIR COMENTARIO" style="color:#003366; width:99%; padding-left: 3px; height:60px; font-size:1em; border:solid 1px #dbddde; font-weight:lighter; font-family:inherit; border-radius:5px"></textarea>
							<br /><br />
                          	<input type="submit" name="go" id="go" value="ENVIAR CALIFICACI&Oacute;N" style="color: #ffffff; background-color: #003462; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 210px; width: 170px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: center; mso-border-alt: none; font-size: 16px; line-height: 17px;"/>
                          
                          <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
       </form>
                
            <!-- FIN SECCION DE VALORACION DE KAVAK -->
            
            
            
            
            
            
            <!-- SECCION DATOS DEL AUTO  -->
            
            <div style="background-color: transparent;">
              <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                	<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 640px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

              		<!--[if (mso)|(IE)]><td align="center" width="427" style=" width:427px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            		<div class="col num8" style="display: table-cell;vertical-align: top;min-width: 320px;max-width: 424px;">
              			<div style="background-color: transparent; width: 100% !important;">
              				<!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

                  
                    		<div class="">
								<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
								<div style="color:#555555;line-height:120%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">	
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>DETALLES DE TU AUTO KAVAK</strong>
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<br data-mce-bogus="1">
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>MARCA:</strong> @CAR_MAKE
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>MODELO:</strong> @CAR_MODEL
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>VERSI&Oacute;N</strong>: @CAR_VERSION
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>A&Ntilde;O:</strong> @CAR_YEAR
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>KM:</strong> @CAR_KM
										</p>
									</div>
									<div style="font-size:18px;line-height:19px;color:#555555;font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;text-align:left;">
										<p style="margin: 0;font-size: 18px;line-height: 19px">
											<strong>ID KAVAK:</strong> # @CAR_ID
										</p>
									</div>	
								</div>
								<!--[if mso]></td></tr></table><![endif]-->
							</div>
                  
              				<!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
              			</div>
            		</div>
              		
              		<!--[if (mso)|(IE)]></td><td align="center" width="213" style=" width:213px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            		<div class="col num4" style="display: table-cell;vertical-align: top;max-width: 320px;min-width: 212px;">
              			<div style="background-color: transparent; width: 100% !important;">
              				<!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
                    		<div align="left" class="img-container left fixedwidth " style="padding-right: 0px;  padding-left: 0px;">
								<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="left"><![endif]-->
  								<img class="left fixedwidth" align="left" border="0" src="@KEY_EMAIL_CAR_LOGO" alt="@CAR_MAKE" title="@CAR_MAKE" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 138.45px" width="138.45">
								<!--[if mso]></td></tr></table><![endif]-->
							</div>
              				<!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
             	 		</div>
            		</div>
          			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
        	</div>
          </div>
       </div>
            
          <!-- FIN SECCION DATOS DEL AUTO  -->
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <!-- SECCION DE TRAMITES ACORDADOS  -->
            
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div class="">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                          <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              <p style="margin: 0; font-size: 18px; line-height: 19px">
                                <strong>TR&Aacute;MITES ACORDADOS:</strong>
                              </p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px">
                                &#160;<br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px;  text-transform: uppercase;">
                                <strong>TIPO DE TR&Aacute;MITE:</strong> 
                                @KEY_EMAIL_PAPERWORK_TYPE
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px;  text-transform: uppercase;">
                                <strong>ESTADO FINAL DE LAS PLACAS:</strong> 
                                @KEY_EMAIL_FINAL_PLATE_STATUS
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px;  text-transform: uppercase;">
                                <strong>DIRECCI&Oacute;N DE LA ENTREGA:</strong>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px;  text-transform: uppercase;">
                                @KEY_EMAIL_SHIPPING_ADDRESS
                              </p>

                            </div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- FIN SECCION DE TRAMITES ACORDADOS  -->
            
            
            
            
            
            
            
            
            
            
            
            <!-- SECCION VIGENCIA DE DEVOLUCION  -->
            
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div align="center" class="button-container center " style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:28pt; v-text-anchor:middle; width:223pt;" arcsize="11%" strokecolor="#000000" fillcolor="#000000"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; font-size:14px;"><![endif]-->
                          <div style="color: #ffffff; background-color: #000000; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 298px; width: 258px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: center; mso-border-alt: none;">
                            <span style="font-size: 18px; line-height: 24px;">
                              <strong>
                                <span style="font-size: 18px; line-height: 28px; text-transform: uppercase;" data-mce-style="font-size: 18px; line-height: 28px;">
                                  VIGENCIA DE DEVOLUCI&Oacute;N: @KEY_EMAIL_RETURN_VALIDITY
                                </span>
                              </strong>
                            </span>
                          </div>
                          <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
                        </div>
  
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- FIN SECCION VIGENCIA DE DEVOLUCION  -->
            
            
            
            
            
            
            
            
            
           
            
            
            
            <!-- SECCION POLITICA DE DEVOLUCION  -->  
            
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid mixed-two-up ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="400" style=" width:400px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num8" style="display: table-cell; vertical-align: top; min-width: 320px; max-width: 400px;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
  
                        <div class="">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                          <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                <strong>¡NO TE PREOCUPES! SI NO TE ENAMORAS DE TU KAVAK LO PUEDES DEVOLVER SIN PROBLEMAS.</strong></p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px">
                                &#160;<br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                - NUESTRA POL&Iacute;TICA DE DEVOLUCI&Oacute;N ES DE 7 D&Iacute;AS CONTINUOS O HASTA 300 KM.
                              </p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px">
                                &#160;<br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                - EL AUTO DEBE ESTAR EN LAS MISMAS CONDICIONES DE LA ENTREGA.</p>
                            </div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td><td align="center" width="200" style=" width:200px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num4" style="display: table-cell; vertical-align: top; max-width: 320px; min-width: 200px;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div align="center" class="img-container center fixedwidth " style="padding-right: 10px; padding-left: 10px;">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 10px; padding-left: 10px;" align="center"><![endif]-->
                          <div style="line-height: 10px; font-size: 1px">&#160;</div>
                          <img class="center fixedwidth" align="center" border="0" src="https://www.kavak.com/assets/kavak/images/email/mailingEntrega-08.png" alt="Image" title="Image" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; display: block !important; border: 0; height: auto; float: none; width: 100%; max-width: 170px" width="170">
                          <div style="line-height: 10px; font-size: 1px">&#160;</div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- FIN SECCION POLITICA DE DEVOLUCION  -->
            
            
            
            
            
            <!-- SECCION GARANTIA  -->    
            
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid mixed-two-up ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="200" style=" width:200px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num4" style="display: table-cell; vertical-align: top; max-width: 320px; min-width: 200px;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div align="center" class="img-container center fixedwidth" style="padding-right: 0px; padding-left: 0px;">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
                          <img class="center fixedwidth" align="center" border="0" src="https://www.kavak.com/assets/kavak/images/email/mailingEntrega-07.png" alt="Image" title="Image" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; display: block !important; border: 0; height: auto; float: none; width: 100%; max-width: 170px" width="170">
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td><td align="center" width="400" style=" width:400px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num8" style="display: table-cell; vertical-align: top; min-width: 320px; max-width: 400px;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div class="">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                          <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              <!--
                              <p style="margin: 0; font-size: 12px; line-height: 14px">
                                <span style="font-size: 14px; line-height: 16px;">
                                  <br data-mce-bogus="1">
                                </span>
                              </p> -->
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                  <strong>¡TRANQUILO! TU KAVAK EST&Aacute; GARANTIZADO</strong>
                              </p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px; text-align: justify">
                                &#160; <br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                  - NUESTRA COBERTURA ES POR 3 MESES O 5,000 KMS, CON UN MAX DE 2,000 KMS POR MES.
                              </p>
                              <p style="margin: 0; font-size: 14px; line-height: 17px; text-align: justify">
                                &#160; <br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                  - LA GARANT&Iacute;A ES DE COBERTURA AMPLIA, SIN EMBARGO, NO APLICAR&Aacute; EN CASOS DE CHOQUES O DA&Ntilde;OS EST&Eacute;TICOS 
                                  OCASIONADOS POR EL USUARIO.
                              </p>
                            </div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- FIN SECCION GARANTIA  -->
            
            
            
            
            <!-- SECCION GRIS: INFORMACION POST VENTA  -->
            
            
            <div style="background-color: transparent;">
              <div style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #F2F2F2;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #F2F2F2;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#F2F2F2;"><![endif]-->
  
                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div class="">
                          <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                          <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                Para mayor informaci&oacute;n sobre nuestra cobertura y 
                                t&eacute;rminos y condiciones de tu nuevo auto consulta los
                                documentos anexos en el correo o checa en la carpeta que
                                se te entreg&oacute; con toda la documentaci&oacute;n del auto.
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px">
                                &#160;<br>
                              </p>
                              <p style="margin: 0; font-size: 18px; line-height: 19px; text-align: justify">
                                Esperamos que disfrutes mucho de tu nuevo KAVAK y cualquier duda o
                                comentario que tengas sobre los tr&aacute;mites y/o nuestras
                                pol&iacute;ticas, dir&iacute;gete directamente a nuestra &aacute;rea de Post
                                Venta con la informaci&oacute;n del auto y con mucho gusto te
                                atenderemos.
                              </p>
                            </div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            <!-- FIN SECCION GRIS: INFORMACION POST VENTA -->
            
            
            
            
            
			<!-- SECCION BLANCA: DATOS Y FOTOS DE KAVAKO POST VENTA Y TRAMITES -->
            
            <div style="background-color: transparent;">
				<div
					style="Margin: 0 auto; min-width: 300px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;"
					class="block-grid four-up ">
					<div
						style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
						<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->
			
						<!--[if (mso)|(IE)]><td align="center" width="100" style=" width:160px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
						<div class="col num3"
							style="max-width: 300px; min-width: 150px; display: table-cell; vertical-align: top;">
							<div style="background-color: transparent; width: 100% !important;">
								<!--[if (!mso)&(!IE)]><!-->
								<div
									style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
									<!--<![endif]-->
			
			
									<div align="center"
										class="img-container center fullwidthOnMobile fixedwidth "
										style="padding-right: 0px; padding-left: 0px;">
										<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
											
										<img class="center fullwidthOnMobile fixedwidth" align="center"
											border="0" src="@KEY_EMAIL_AFTER_SALE_KAVAKO_PHOTO" alt="@KEY_EMAIL_AFTER_SALE_KAVAKO_NAME"
											title="@KEY_EMAIL_AFTER_SALE_KAVAKO_NAME"
											style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; display: block !important; border: 0; height: auto; float: none; width: 100%; max-width: 104px"
											width="104">
										<!--[if mso]></td></tr></table><![endif]-->
									</div>
			
  
									<!--[if (!mso)&(!IE)]><!-->
								</div>
								<!--<![endif]-->
							</div>
						</div>
						<!--[if (mso)|(IE)]></td><td align="center" width="150" style=" width:150px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
						<div class="col num3"
							style="max-width: 300px; min-width: 150px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
								<div
									style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->
  
                        <div class="">
							<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 0px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
							<div style="color: #555555; line-height: 120%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 0px; padding-top: 10px; padding-bottom: 10px;">
								<div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                              		<p style="margin: 0; font-size: 18px; line-height: 19px"><strong>GARANT&Iacute;AS</strong></p>
                              		<p style="margin: 0; font-size: 18px; line-height: 19px">@KEY_EMAIL_AFTER_SALE_KAVAKO_NAME</p>
							  		<p style="margin: 0; font-size: 16px; line-height: 17px">@KEY_EMAIL_AFTER_SALE_KAVAKO_EMAIL</p>
                              		<p style="margin: 0; font-size: 18px; line-height: 19px"><a href="tel:@KEY_EMAIL_AFTER_SALE_KAVAKO_PHONE">@KEY_EMAIL_AFTER_SALE_KAVAKO_PHONE</a></p>
                            	</div>
                          </div>
                          <!--[if mso]></td></tr></table><![endif]-->
                        </div>
  
                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
						<!--[if (mso)|(IE)]></td><td align="center" width="160" style=" width:160px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
						<div class="col num3"
							style="max-width: 300px; min-width: 150px; display: table-cell; vertical-align: top;">
							<div style="background-color: transparent; width: 100% !important;">
								<!--[if (!mso)&(!IE)]><!-->
								<div
									style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
									<!--<![endif]-->
			
			
									<div align="center"
										class="img-container center fullwidthOnMobile fixedwidth "
										style="padding-right: 0px; padding-left: 0px;">
										<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
										<img class="center fullwidthOnMobile fixedwidth" align="center"
											border="0" src="@KEY_EMAIL_PAPERWORK_KAVAKO_PHOTO" alt="@KEY_EMAIL_PAPERWORK_KAVAKO_NAME"
											title="@KEY_EMAIL_PAPERWORK_KAVAKO_NAME"
											style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; display: block !important; border: 0; height: auto; float: none; width: 100%; max-width: 104px"
											width="104">
										
										<!--[if mso]></td></tr></table><![endif]-->
									</div>
			
			
									<!--[if (!mso)&(!IE)]><!-->
								</div>
								<!--<![endif]-->
							</div>
						</div>
						<!--[if (mso)|(IE)]></td><td align="center" width="160" style=" width:160px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
						<div class="col num3"
							style="max-width: 300px; min-width: 150px; display: table-cell; vertical-align: top;">
							<div style="background-color: transparent; width: 100% !important;">
								<!--[if (!mso)&(!IE)]><!-->
								<div
									style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
									<!--<![endif]-->
			
			
									<div class="">
										<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 0px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
										<div
											style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 0px; padding-top: 10px; padding-bottom: 10px;">
											<div
												style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
												<p style="margin: 0; font-size: 18px; line-height: 19px"><strong>TR&Aacute;MITES</strong></p>
												<p style="margin: 0; font-size: 18px; line-height: 19px">@KEY_EMAIL_PAPERWORK_KAVAKO_NAME</p>
												<p style="margin: 0; font-size: 16px; line-height: 17px">@KEY_EMAIL_PAPERWORK_KAVAKO_EMAIL</p>
												<p style="margin: 0; font-size: 18px; line-height: 19px"><a href="tel:@KEY_EMAIL_PAPERWORK_KAVAKO_PHONE">@KEY_EMAIL_PAPERWORK_KAVAKO_PHONE</a></p>
											</div>
										</div>
										<!--[if mso]></td></tr></table><![endif]-->
									</div>
			
									<!--[if (!mso)&(!IE)]><!-->
								</div>
								<!--<![endif]-->
							</div>
						</div>
						<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
					</div>
				</div>
			</div>


			<!-- FIN SECCION BLANCA: DATOS Y FOTOS DE KAVAKO POST VENTA Y TRAMITES -->
		            
		            
			
			
			
			
			<!-- SECCION BANNER FINAL: EXPERIENCIA UNICA -->            
            
                        <div style="background-color: transparent;">
              <div style="Margin: 0 auto; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

                  <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                  <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                      <!--[if (!mso)&(!IE)]><!-->
                      <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                        <!--<![endif]-->


                    		<div align="center" class="img-container center  autowidth  " style="padding-right: 0px;  padding-left: 0px;">
								<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
								<div style="line-height:5px;font-size:1px">&#160;</div>  
								<img class="center  autowidth " align="center" border="0" src="https://www.kavak.com/assets/kavak/email/footer/footer-entrega.png" alt="Kavak" title="Una experiencia Única" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 601px" width="601">
								<!--[if mso]></td></tr></table><![endif]-->
							</div>
 

                        <!--[if (!mso)&(!IE)]><!-->
                      </div>
                      <!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>
            
            
            <!-- FIN SECCION BANNER FINAL: EXPERIENCIA UNICA -->  