<table>
  <tr>
    <td>
      <div style="font-size:16px; color:#484870!important; padding: 13px 0 ;display: block;text-align:left">
          <p><b style="color:#000000;font-size: 16px; text-decoration: underline">Datos del review</b></p>
          <p style="color:#000000"><b>Cliente:</b> @USER_NAME</p>
          <p style="color:#000000"><b>Correo:</b> @USER_EMAIL</p>
          <p style="color:#000000"><b>Lead:</b> @USER_ID</p>
          <p style="color:#000000"><b>Stock ID:</b> @CAR_ID</p>
          <p style="color:#000000"><b>Auto Comprado:</b> @CAR_NAME</p>
          <p style="color:#000000"><b>Calificaci&oacute;n:</b> @KEY_EMAIL_USER_RANKING</p>
          <p style="color:#000000"><b>Comentarios:</b> @KEY_EMAIL_USER_COMMENTS_RANKING</p>
          <br /><br /><br /><br /><br />
          <p><b style="color:#000000;font-size: 16px;">P-109</b></p>
      </div>
    </td>
  </tr> 
</table>