<table>
  <tr>
    <td>
      <div style="font-size:16px; color:#484870!important; padding: 13px 0 ;display: block;text-align:left">
          <p><b style="color:#000000;font-size: 16px; text-decoration: underline">Datos del tr&aacute;mite</b></p>
          <p style="color:#000000"><b>Auto:</b> @CAR_NAME</p>
          <p style="color:#000000"><b>Fecha de Entrega:</b> @KEY_EMAIL_DELIVERY_DATE</p>
          <p style="color:#000000"><b>Gestor:</b> @KEY_EMAIL_MANAGER_SHIPPING</p>
          <p style="color:#000000"><b>Fecha Iniciado:</b> @KEY_EMAIL_STARTED_DATE</p>
          <p style="color:#000000"><b>Enlace Tr&aacute;mite Netsuite:</b> @KEY_EMAIL_URL_NETSUITE_PAPERWORK</p>
          <br /><br /><br /><br /><br />
          <p><b style="color:#000000;font-size: 16px;">P-104</b></p>
      </div>
    </td>
  </tr> 
</table>