﻿          <p><h1 style='text-align: center;'><b>Cita con Apartado</h1></b></p><br />
   			<table style='width: 100%'>

              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Id del usuario</b></th>
              <td>@USER_ID</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Nombre del usuario</b></th>
              <td>@USER_NAME</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Email del usuario</b></th>
              <td>@USER_EMAIL</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Teléfono del usuario</b></th>
              <td>@USER_PHONE</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>StockID</b></th>
                <td>@CAR_ID</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Nombre Auto</b></th>
                <td>@CAR_NAME</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Estado Placas</b></th>
                <td>@CAR_PLATE_STATE</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>VIN</b></th>
                <td>@CAR_VIN</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Url Auto</b></th>
                <td style='font-size: small'>@CAR_URL</td>
              </tr>
              <tr>
              <th style='text-align: left; width: 26%; vertical-align: top;'><b>Repuve Auto</b></th>
                <td style='font-size: small'>@CAR_REPUVE</td>
              </tr>
              <tr>
                <th style='text-align: left; width: 26%; vertical-align: top;'><b>Kilometraje</b></th>
                <td>@CAR_KM KM</td>
              </tr>
              <tr>
                <th style='text-align: left; width: 26%; vertical-align: top;'><b>Fecha de la Visita</b></th>
                <td>@APPOINTMENT_DATE</td>
              </tr>
              <tr>
                <th style='text-align: left; width: 26%; vertical-align: top;'><b>Hora de la Visita</b></th>
                <td>@APPOINTMENT_HOUR</td>
              </tr>
              <tr>
                <th style='text-align: left; width: 26%; vertical-align: top;'><b>Dirección de la Visita</b></th>
                <td>@APPOINTMENT_ADDRESS</td>
              </tr>
              <tr><td>&nbsp;<td></tr>
              <tr>
                <td colspan='2'><img src='@CAR_IMAGE' alt='@CAR_NAME' style='width:40%'/></td>
              </tr>
              <tr><td>&nbsp;<td></tr>
              <tr><td>Transacción realizada desde : @SOURCE<td></tr>
              <tr><td>&nbsp;<td></tr>
         </table> 