<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
						   
						   
						   
						   
														 <p><h2 style='text-align: center;color:#151112;'><b>¡Visita Confirmada!</b></h2></p>
							  <p style='color:#151112;' >Mi nombre es Julio, has programado una visita para ver nuestro Kavak con el siguiente detalle:</p><br />
									<table style='border-collapse: collapse; width: 100%'>
								  <tr>
									<th style='text-align: left; width: 26%; vertical-align: top;color:#151112;'><b>Auto</b></th>
									<td>@CAR_NAME</td>
								  </tr>
								  <tr>
									<th style='text-align: left; width: 26%; vertical-align: top;color:#151112;'><b>Kilometraje</b></th>
									<td style='color:#32373b;'>@CAR_KM KM</td>
								  </tr>
								  <tr>
									<th style='text-align: left; width: 26%; vertical-align: top;color:#151112;'><b>Fecha de la Visita</b></th>
									<td style='color:#32373b;'>@APPOINTMENT_DATE</td>
								  </tr>
								  <tr>
									<th style='text-align: left; width: 26%; vertical-align: top;color:#151112;'><b>Hora de la Visita</b></th>
									<td style='color:#32373b;'>@APPOINTMENT_HOUR</td>
								  </tr>
								  <tr>
									<th style='text-align: left; width: 26%; vertical-align: top;color:#151112;'><b>Dirección de la Visita</b></th>
									<td style='color:#32373b;'>@APPOINTMENT_ADDRESS</td>
								  </tr>
								  <tr><td>&nbsp;<td></tr>
								  <tr>
									<td colspan='2'><img src='@CAR_IMAGE' alt='@CAR_NAME' style='width:40%'/></td>
								  </tr>
								  <tr><td>&nbsp;<td></tr>
								  <tr>
									<td style='color:#151112;' colspan='2'>Los datos de contacto registrados son los siguientes: correo electrónico <span style='color:#151112;'>@USER_EMAIL</span>, teléfono <span style='color:#151112;'>@USER_PHONE</span>.</td>
								  </tr>
								  <tr><td>&nbsp;<td></tr>
							 </table> 
							 <table>
								<tr><td style='text-align: center;color:#151112;'><h4>¡RESERVA!</h4><td></tr>
								<tr><td style='color:#151112;'>Si te gusta mucho el auto, te sugerimos que lo <span style='color:#151112;'>reserves, son $5000, dura 72 hrs y es 100% reembolsable</span>.<td></tr>
								<tr><td>&nbsp;<td></tr>
								<tr><td style='color:#151112;'>Lo puedes hacer dándole click <a href="@CAR_URL">aquí</a>.<td></tr>
								<tr><td>&nbsp;<td></tr>
								<tr><td style='color:#151112;'><span style='color:#151112;'>¡Importante!</span> Agendar una visita no te asegura que puedas comprar el auto.<td></tr>
							</table>
							<table>
								  <br /><tr><td style='text-align: center;color:#151112;'><h4>¡MÉTODOS DE PAGO!</h4><td></tr>
								  <tr>
									<td>
									  <ul>
									  <li><span style='color:#151112;'>Pago de Contado:</span> Paga de forma sencilla y segura por medio de transferencia electrónica o depósito bancario.</li>
									  <li><span style='color:#151112;'>Financiamiento con BBVA BANCOMER:</span> Kavak te ayuda a gestionar crédito directo con el banco, nos encargamos de todo el proceso por ti.</li> 
									  <li><span style='color:#151112;'>Utiliza tu AUTO como parte de pago:</span> Si tienes un auto que quieras dar a cuenta como parte de pago de un KAVAK, hazlo todo con nosotros. El proceso es muy sencillo y rápido.</li>
									  </ul>
									<td>
								  </tr>
								  <tr><td>&nbsp;<td></tr>
								  <tr><td style='color:#151112;'>Si quieres reagendar tu visita haz click <a href="@URL_KAVAK">aquí</a><td></tr>
								  <tr><td>&nbsp;<td></tr>
								  <tr><td style='color:#151112;'>Cualquier duda puedes escribirnos a <span style='color:#151112;'>experience@kavak.com</span> o marcarnos al <span style='color:#151112;'>55 53516292</span>.<td></tr>
								  <tr><td>&nbsp;<td></tr>
							 </table> 
									
									
									
									

						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->