<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
						   

                         <span style="color:#32373b;"> Se ha liberado la reserva de nuestro increíble <b style="color:#151112">@CAR_YEAR / @CAR_MAKE / @CAR_MODEL</b>.</span> <br><br>

                       <span style="color:#32373b;"> Si deseas tener la primera opción de compra te recomendamos que apartes el auto con $5,000 MXN dándole click al siguiente botón.</span> <br><br>
                            <div style="width:50%;display: block;margin: 0 auto">
                                <a href="http://www.kavak.com/@CAR_MAKE-@CAR_MODEL-@CAR_YEAR-compra-de-autos-@CAR_ID?utm_source=Email&utm_campaign=Email-autos-disponibles-@USER_NAME-@USER_ID-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR&utm_medium=organico&utm_content=Email-autos-disponibles-@USER_NAME-@USER_ID-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR" style="text-decoration: none"><b style="color: #fff;background-color: #32373b;padding-bottom: 0px;line-height: 60px;display: block;width: 170px;margin: 5px auto ;text-align: center;"> Reserva aquí</b></a>
                            </div>
                            <br><br>

                           <span style="color:#32373b;">La reserva dura 72 hrs y es 100% reembolsable.</span> <br><br>
                            
                            <b style="color:#151112;font-size: 22px;text-align: center;display: block">¡Apúrate!</b> <br>
                           
                            <span style="color:#32373b;">Según la cantidad de personas registradas para este mismo auto estimamos que será apartado muy pronto.</span> <br><br>

                            <span style="color:#32373b;">Si tienes alguna duda, llámanos al <b style="color:#151112">+52 55 53516292</b> o escríbenos al chat.</span> <br>
									

						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->