<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
			   
									<b style="color:#151112;">¡NO TE PREOCUPES KAVAK ENCONTRARÁ EL AUTO DE TUS SUEÑOS!</b>
									<br><br>
									<span style="color:#32373b">Acabas de crear una alerta en carscout con las siguientes características:</span>
									<br><br>
									<b style="color:#151112;">Nombres y Apellidos: </b>@USER_NAME<br>
									<b style="color:#151112;">Correo: </b>@USER_EMAIL<br>
									<b style="color:#151112;">Teléfono de Contacto: </b>@USER_PHONE<br>
									@GENERIC
									<br><br>
									<span style="color:#32373b">Mantente alerta, que constantemente actualizamos nuestro catálogo. De igual manera te estaremos informando cuando llegue el auto que buscas.</span>

									<br>
						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->