<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
						   

						   
						   



								  <h3>
									  <b>
										<center>
										  <span style="color:#151112;">¡Felicitaciones!</span>
										  <br />
										  <p style="color:#151112;">Has apartado un auto @CAR_NAME</p>Ya estamos trabajando con el banco para tener todo listo muy rápido y llevarte tu nuevo Kavak directo a tu puerta.
										  <br />
										</center>
									  </b>
								  </h3>

									  <p ><b style="color:#151112;font-size: 18px"><u>Detalles del Auto</u></b></p>
									  <p style="color:#32373b;"><b style="color:#151112">Auto:</b> @CAR_NAME</p>
									  <p style="color:#32373b;"><b style="color:#151112">Kilometraje:</b> @CAR_KM KM</p>
									  <p style="color:#32373b;"><b style="color:#151112">Precio del auto:</b> @CAR_PRICE MXN</p>
									  <p style="color:#32373b;"><b style="color:#151112">Monto del apartado:</b> @BOOKING_PRICE MXN (pagado por tarjeta de crédito) </p>
									  <p style="color:#32373b;"><b style="color:#151112">Forma de Pago:</b> Financiamiento </p>
									  <p style="color:#32373b;"><b style="color:#151112">Garantía:</b> @WARRANTY </p>
									  <!--p><b>Seguro:</b> @INSURANCE </p-->
									  <p style="color:#32373b;"><b style="color:#151112">Monto Financiamiento:</b> @FINANCING </p>

									<b style="color:#151112;font-size: 18px"><u>Próximos Pasos</u></b>
									<br>
									<ul>
									  <li style="color:#32373b;">Durante las próximas 24 horas recibirás el estado de aprobación del crédito.</li>
									  <li style="color:#32373b;">Desde el momento que el crédito es aprobado estaremos preparando todo el para enviarte tu coche en menos de de 10 días.</li>
									  <li style="color:#32373b;">Si tu crédito no es aprobado te contactaremos para ayudarte a conseguir otras alternativas de financiamiento.</li>
									  <li style="color:#32373b;">Si tienes alguna pregunta o quieres modificar algo de tu pedido, escríbenos a <a href="mailto:ayuda@kavak.com">ayuda@kavak.com</a> o llámanos al (55)5351.6292.</li>
									</ul>

							  <span style="color:#151112;font-size: 17px">Transacción realizada desde : @SOURCE</span>
																														
																													
																													
																													
																													
																													
									

						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->