﻿<p>
Un cliente ha ingresado al checkout para el auto <b>Stock ID #@CAR_ID @CAR_NAME</b>.
<br/><br/>
Los datos de contacto son:<br/>
<span style='color:#003366; font-weight: bold;'>Nombre:</span> @USER_NAME<br/>
<span style='color:#003366; font-weight: bold;'>Email:</span> @USER_EMAIL<br/>
<span style='color:#003366; font-weight: bold;'>Teléfono:</span> @USER_PHONE<br/><br/>
Método de Pago: <b>@PAYMENT_TYPE</b>.
<br/><br/>
<span style='font-weight: bold;'>Transacción realizada desde :</span>  @SOURCE<br/>
</p>