<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
						   

<p>
                                                            <span style='color:#32373b;'>Ha ocurrido un error al intentar realizar el pago del apartado para el auto <b>Stock ID # @CAR_ID @CAR_MAKE @CAR_MODEL @CAR_VERSION</b>.</span><br/><br/>		
                                                            Te estaremos contactando para apoyarte en tu apartado. Tus datos de contacto son:<br/>
                                                            <span style='color:#151112; font-weight: bold;'>Nombre:</span> <span style='color:#32373b;'>@USER_NAME</span><br/>
                                                            <span style='color:#151112; font-weight: bold;'>Email:</span> <span style='color:#32373b;'>@USER_EMAIL </span><br/>
                                                            <span style='color:#151112; font-weight: bold;'>Teléfono: </span><span style='color:#32373b;'>@USER_PHONE.</span>
                                                        </p>
                                                        <table>
                                                            <tr>
                                                                <td style='color:#151112;'><strong>Detalles del Error:</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td style='color:#32373b;'>@CHECKOUT_RESULT</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style='font-size:17px; color:#32373b!important; padding: 13px 0 ;display: block;text-align:left'>
                                                                        <b style='color:#151112;font-size: 18px'><u>Sugerencias</u></b>
                                                                        <br>
                                                                            <ul>
                                                                                <li>Intenta realizar el apartado con otra tarjeta.</li>
                                                                                <li>Comunícate con el Banco para solicitar que autoricen la tarjeta para realizar la transacción.</li>
                                                                                <li>También puedes escribirnos a <a href='mailto:ayuda@kavak.com' style="text-decoration:none"><b style='color:#151112'>ayuda@kavak.com</b></a> o llamarnos al <b style='color:#151112;'>(55)5351.6292</b> y con gusto te ayudaremos a completar tu apartado.</li>
                                                                            </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
									

						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->