﻿<p>Se ha registrado una solicitud de contacto con los siguientes detalles:</p>
<table style='width: 80%'>
  <tr>
    <th style='text-align: left;'><b>Nombres</b></th>
    <td>@USER_NAME</td>
  </tr>
  <tr>
    <th style='text-align: left;'><b>Apellidos</b></th>
    <td>@USER_LAST_NAME</td>
  </tr>  
  <tr>  
    <th style='text-align: left;' width='40%'><b>Tel&eacute;fono de Contacto</b></th>
    <td>@USER_PHONE</td>
  </tr>  
  <tr>  
    <th style='text-align: left;'><b>Correo</b></th>
    <td>@USER_EMAIL</td>
  </tr>  
  <tr>  
    <th style='text-align: left;'><b>C&oacute;digo Postal</b></th>
    <td>@USER_ZIPCODE</td>
  </tr>  
  <tr>  
    <th style='text-align: left;'><b>Asunto</b></th>
    <td>subject</td>
  </tr> 
  <tr>  
    <th style='text-align: left;' valign='top'><b>Comentario</b></th>
    <td>@KEY_EMAIL_USER_COMMENTS</td>
  </tr>
<table>
<table style='width: 80%'><tr><td> Solicitud @KEY_EMAIL_ID_REGISTER</td></tr></table>