<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 16px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                   <b style="color:#151112;font-size:17px; text-align:center;display: inline-block;line-height: 18px">¡KAVAK tiene una oferta para tu  @CAR_MAKE @CAR_MODEL @CAR_VERSION @CAR_YEAR!</b>
                            <br><br>
                            Te escribimos para informarte que 
                            <b style="color:#151112;">KAVAK consiguió una oferta para tu @CAR_MAKE @CAR_MODEL @CAR_VERSION @CAR_YEAR.</b> <br><br>

                            En <b style="color:#151112;">KAVAK</b> trabajamos constantemente para mejorar y revisar nuestro algoritmo de forma de ofrecer más y mejores ofertas a nuestros clientes.<br><br>

                            A continuación encontrarás tu nueva oferta y el detalle para que entiendas mejor sus ventajas.<br><br>
                <b style="color:#32373b;font-size:17px; text-align:center;display: block">TU OFERTA ES</b>

                            <div style="display: inline-block; width:100%; margin: 0 auto;">
                                <table border="0" cellpadding="0" cellspacing="0" style="text-align: center;display:table;width:100%;padding-bottom: 5px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 0px;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="height: 130px; position: relative;text-align: center">
                                                                <div style="background-color:#151112;color: #fff;line-height: 50px;margin-bottom: 5px;">
                                                                    OFERTA A CONSIGNACIÓN
                                                                </div>
                                                                <span style="font-size: 20px">
                                                                    @CONSIGNMENT_OFFER_MAX
                                                                </span> <br>
                                                                <span style="font-size: 13px">
                                                                    Excelentes condiciones
                                                                </span>

                                                            </td>
                                                        </tr>
                                                </table>                                    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>      
                            </div>
                            <span style="font-size: 15px; text-align: center;display: block">
                                La oferta tiene una validez de 5 días y puede variar según las deducciones aplicadas en la inspección.
                            </span>
                            <br>
                            <br>
							 Si tu auto cumple con nuestros estándares de calidad, el día de la inspección firmamos <b style="color:#151112;">“El Acuerdo a Consignación” y nos llevamos el auto.</b> Al momento de concretar una venta, te lo pagamos al precio <b style="color:#151112;">fijado en la inspección.</b><br><br>

							Solo 

							<a href="@URL_RECOVER_OFFER" style="text-decoration: none"> <b style="color:#003366;"> haz click aquí </b></a>

							para continuar con el proceso y déjanos ayudarte a vender tu auto de la forma <b style="color:#151112;">más rápida y segura en México!</b>                            
                            <br>
                            <br>

                           
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>


                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->