<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 16px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>

<p style="text-align:center"> ¡Tenemos buenas noticias! Logramos conseguir una mejor oferta para tu auto. </p>
							<br>
							El mes de septiembre es uno de los meses donde más se deprecian los coches ya que salen los modelos nuevos al mercado, 
							<br><br>
							No dejes que tu auto se continúe depreciando, abajo te dejamos tu nueva oferta y un link para que puedas agendar inspección en tu casa u oficina o en alguno de nuestros centros de inspección.
							<br><br><br>
							
							Cualquier duda estamos a tus órdenes.
							
							<br><br><p style="text-align:center">@CAR_MAKE  /  @CAR_MODEL  /  @CAR_VERSION  /  @CAR_YEAR</p>
				
							                            <div style="display: inline-block; width:100%; margin: 0 auto;">
                                <table border="0" cellpadding="0" cellspacing="0" style="text-align: center;display:table;width:100%;padding-bottom: 5px;">
															
                                                            <td style="height: 120px; position: relative;text-align: center;">
                                                                <div>
                                                                    <b>CONSIGNACIÓN</b>
                                                                </div><br>
                                                                <span style="font-size: 20px">
                                                                    @CONSIGNMENT_OFFER_MAX
                                                                </span>
                                                            </td>

                                </table>      
                            </div>
							<br>
							<div style="text-align: center;">
							<a href="@URL_RECOVER_OFFER" style="text-decoration: none;"><b style="color: #fff;background-color: #003366;padding-bottom: 0px;line-height: 30px;display: inline-block;width: 230px;text-align: center;">  AGENDAR INSPECCIÓN <br> <span style="font-size: 85%;font-weight: normal">HAZ CLICK AQUÍ</span></b></a>
							</div>	<br><br>										
                            <span style="font-size: 15px; text-align: center;display: block">
                                Las oferta tiene una validez de 5 días y pueden variar según las deducciones aplicadas en la inspección.
                            </span>
							<br><br>
							<span><b>¿Cómo funciona la oferta? </b></span>
							<br><br>
							<span>Si eliges Oferta a Consignación y tu auto cumple con nuestros estándares de calidad, el día de la inspección firmamos “El Acuerdo a Consignación” y nos llevamos el auto. Al momento de concretar una venta, te lo pagamos al precio fijado en la inspección.</span>
							<br><br><br>
							¡Gracias por confiar en KAVAK!

							<br>
                           
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>


                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->