<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #32373b; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 12px; line-height: 14px; color: #32373b; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 17px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 17px; line-height: 18px;">
                               Mi nombre es <b>Andrés Contreras</b>, soy <b>Director de Compras de Kavak</b>, primero que nada, quiero agradecerte por usar nuestra plataforma, estamos trabajando duro para transformar la experiencia de comprar o vender un auto en México. 
                             </span>
                           </p>
                          <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 17px; line-height: 18px;">
                               Te escribo para ponerme a la orden sobre cualquier duda con la oferta que recibiste para vender tu @CAR_MAKE @CAR_VERSION, nos encantaría que probaras nuestro proceso de inspección y poder ayudarte con la venta de este auto. <br><br>
							   
							   Mil gracias, abajo están todos mis datos por si tienes cualquier duda, también te puedo llamar si así lo deseas y te puedo explicar más a fondo nuestro modelo. 
                             </span>
                           </p><br>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 17px; line-height: 18px;>
                               Mil gracias, abajo están todos mis datos por si tienes cualquier duda, también te puedo llamar si así lo deseas y te puedo explicar más a fondo nuestro modelo. 
                             </span>
                           </p><br>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 17px; line-height: 18px;">
                               Muchas gracias por confiar en nosotros, trabajamos para ofrecerte una experiencia única.<br><br>
							   Saludos del equipo Kavak<br><br><br>
							   <img src="https://www.kavak.com/assets/kavak/email/kavakos/signature/desktop/andres.png" width="265" height="125">
                             </span>
                           </p>                       
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>


                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->