<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
						   

                                                        Mi nombre es <b style="color:#151112;">@INTERNAL_USER_NAME</b>, soy del equipo de operaciones de Kavak. Primero que nada, quiero agradecerte por usar nuestra plataforma, estamos trabajando duro para transformar la experiencia de comprar o vender un Coche en México. 
                                                        <br><br>
                                                                Te escribo para ponerme a la orden sobre cualquier duda con la oferta que recibiste para vender tu <b style="color:#151112;">@CAR_MAKE @CAR_MODEL @CAR_YEAR</b>. En las próximas horas me estaré comunicando contigo al <b style="color:#151112;">+@USER_PHONE</b> para definir los próximos pasos.<br><br>

                                                                        <b style="color:#151112;" >Recomendaciones previas a tu inspección:</b><br>

                                                                            <ul style="list-style-type:disc;color: #32373b;">
                                                                                <li>
                                                                                    Tener el auto limpio
                                                                                </li>
                                                                                <li>
                                                                                    Enviar los siguientes documentos en electrónico para realizar la investigación vehicular, me los puedes enviar en fotografía o copia:
                                                                                    <ul>
                                                                                        <li>
                                                                                            Tarjeta de circulación       
                                                                                        </li>
                                                                                        <li>
                                                                                            Factura de origen y refactura
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>    
                                                                                <li>
                                                                                    No contar con factura de aseguradora                                                                                         
                                                                                </li>
                                                                                <li>
                                                                                    Contar con un lugar de estacionamiento adicional para el inspector ya que llega en auto con el equipo.                                                                                          
                                                                                </li>
                                                                            </ul>

                                                                            <b style="color:#151112;">En caso de que la inspección sea aprobada y estés de acuerdo con la oferta, los documentos a entregar en la compraventa son:</b><br>
                                                                                <ul>
                                                                                    <li>
                                                                                        Factura de origen y refactura
                                                                                    </li>
                                                                                    <li>
                                                                                        ID de todos los propietarios que tuvo el auto
                                                                                    </li>
                                                                                    <li>
                                                                                        Comprobantes de pago de tenencia hasta el año en curso
                                                                                    </li>
                                                                                    <li>
                                                                                        Tarjeta de circulación
                                                                                    </li>
                                                                                    <li>
                                                                                        Talón de verificación 
                                                                                    </li>
                                                                                    <li>
                                                                                        Manuales y carnet de servicios del auto
                                                                                    </li>
                                                                                    <li>
                                                                                        2 juegos de llaves
                                                                                    </li>
                                                                                </ul>

                                                                                <b style="color:#151112;">Adicional a los anteriores, los documentos que necesitamos para el contrato son:</b><br>

                                                                                    <ul>
                                                                                        <li>
                                                                                            Copia de identificación oficial 
                                                                                        </li>
                                                                                        <li>
                                                                                            Comprobante de domicilio 
                                                                                        </li>
                                                                                        <li>
                                                                                            Datos bancarios (titular, banco y clave)
                                                                                        </li>
                                                                                    </ul>

                                                                                    Mil gracias de antemano, abajo están todos mis datos por si gustas en contactarme <br>   

																				<p style="padding-left:0px;padding-right:0px">Muchas gracias por confiar en nosotros, trabajamos para ofrecerte una experiencia única.<br><br>
                      															Saludos del equipo Kavak<br></p>
																				

																				<table align="left" style="background-color:#fff;font-family: Verdana, 'Comic Sans';font-size: 13px;margin: 20px ">
																							<td width="50px" align="center">
																									<img src="https://www.kavak.com/assets/kavak/images/icons/kavak_logo_square.jpg" width="100" height="100">
																								</td>
																								<td width="5px"></td>
																								<td width="1px" height="5px" bgcolor="#32373b"></td>
																								<td width="5px"></td>
																								<td>
					
																									<div style="color:#32373b; font-size:15px;"><strong>@INTERNAL_USER_NAME</strong></div>
																									<div style="color:#32373b;"><strong>LEAD MANAGER<br><br></strong></div>

																													<strong>T:</strong>  +@INTERNAL_USER_PHONE<br>
																														<strong>E:</strong> <a href="mailto:@INTERNAL_USER_EMAIL" style="color:#32373b;font-weight:bold"> @INTERNAL_USER_EMAIL</a><br>                                                                                                                                           
																							</td>

																				</table>

						

						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->