<div  style="padding-left:30px;padding-right:30px">
	<p>
		<p style='color:#32373b;'>¡Ya esta activa tu notificación! te avisaremos tan pronto este disponible para apartar nuestro auto <b>Stock ID #@CAR_ID @CAR_NAME</b>.</p>
		<p style='color:#32373b;'>Tus datos de contacto registrados son:</p>
		<span style='color:#003366; font-weight: bold;'>Nombre:</span> <span style='color:#32373b;'>@USER_NAME</span><br/>
		<span style='color:#003366; font-weight: bold;'>Email:</span> @USER_EMAIL<br/>
		<span style='color:#003366; font-weight: bold;'>Teléfono:</span> <span style='color:#32373b;'>@USER_PHONE</span><br/><br/>
		
		<span style='color:#32373b; font-weight: bold;'>Transacción realizada desde: </span> @SOURCE<br/>
	</p>
</div>