﻿<table>
  <tr>
    <td>
      <div style="font-size:20px; color:#484870!important; padding: 13px 0 ;display: block;text-align:left">
          <p><b style="color:#16c8d8;font-size: 20px; text-decoration: underline">Datos de la Oferta</b></p>
          <p><b>Nombre del Cliente:</b> @USER_NAME</p>
          <p><b>Email del Cliente:</b> @USER_EMAIL</p>
          <p><b>Tel&eacute;fono del Cliente:</b> @USER_PHONE</p>
          <p><b>Auto:</b> @CAR_NAME</p>
          <p><b>Wishlist:</b> @WISHLIST</p>
          <p><b>C&oacute;digo Postal:</b> @USER_ZIPCODE</p>
          <p><b>Cantidad de Ofertas:</b> @OFFERS_QUANTITY</p>
          <p><b style="color:#16c8d8;font-size: 20px; text-decoration: underline">Rango de la Oferta</b></p>
          <p><b>Oferta 30 d&iacute;as:</b> @THIRTY_OFFER_MAX - @THIRTY_OFFER_MIN MXN</p>
          <p><b>Oferta Inmediata:</b> @INSTANT_OFFER_MAX - @INSTANT_OFFER_MIN MXN</p>
          <p><b>Oferta Consignaci&oacute;n:</b> @CONSIGNMENT_OFFER_MAX - @CONSIGNMENT_OFFER_MIN MXN</p>
          <p><b>Acept&oacute; Oferta:</b> @USER_IS_ACCEPTED_OFFER : @USER_ACCEPTED_OFFER_TYPE</p>
          <p><b style="color:#16c8d8;font-size: 20px; text-decoration: underline">Informaci&oacute;n Adicional:</b></p>
          <p><b>Estatus Pendiente:</b> @PENDING_STATUS</p>
          <p><b>Tipo Direcci&oacute;n de Inspecci&oacute;n:</b> @APPOINTMENT_ADDRESS_TYPE</p>
          <p><b>Detalle Direcci&oacute;n de Inspecci&oacute;n:</b> @APPOINTMENT_ADDRESS_DESC</p>
          <p><b>Horario de Inspecci&oacute;n:</b> @APPOINTMENT_SCHEDULE</p>
          <p><b>Factura del auto:</b> @URL_CAR_INVOICE</p>
          <p><b>Tarjeta de Circulaci&oacute;n:</b> @URL_CIRCULATION_CARD</p>
          <br />
          <p><b>Enlace Oportunidad Netsuite:</b> @NETSUITE_OPPORTUNITY_URL</p>
          
      </div>
    </td>
  </tr> 
</table>

