<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
						   

						   

                                                        Gracias por haber confiado en nosotros para la compra de tu vehículo. Esperamos que hayas disfrutado el proceso al máximo, trabajamos para ofrecerte una experiencia única!
                                                        <br> <br>
                                                               <span style="color:#151112"> A continuación califica tu experiencia Kavak:</span>
                                                                <br><br>
                                                                        <!--
                                                                        <form accept-charset="UTF-8" action="http://www.kavak.com/experiencia-kavak-venta-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR_stockId_@CAR_ID?utm_source=Email&utm_campaign=Email-Experiencia-Venta-@USER_NAME-@SELLER_ID-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR&utm_medium=organico&utm_content=Email-Experiencia-Venta-@USER_NAME-@SELLER_ID-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR" class="m_-4408019334066487335m_8348484661876589402form" method="post" style="text-align:center" target="_blank">
                                                                         -->
                                                    <form accept-charset="UTF-8" action="http://www.kavak.com/review?@CAR_MAKE-@CAR_MODEL-@CAR_YEAR_stockId_@CAR_ID&utm_source=Email&utm_campaign=Email-Experiencia-Venta-@USER_NAME-@SELLER_ID-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR&utm_medium=organico&utm_content=Email-Experiencia-Venta-@USER_NAME-@SELLER_ID-@CAR_MAKE-@CAR_MODEL-@CAR_YEAR" class="m_-4408019334066487335m_8348484661876589402form" method="post" style="text-align:center" target="_blank">
                                                                            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" style="font-family:inherit;color:#151112"></div>
                                                                            <input id="m_-4408019334066487335m_8348484661876589402form_id" name="form_id" type="hidden" value="{{24579523__seller_id}}" style="font-family:inherit;color:#151112">
                                                                                <input  name="name" type="hidden" value="{{24579523__name}}" style="font-family:inherit;color:#151112">
                                                                                    <input  name="email" type="hidden" value="{{24579523__email}}" style="font-family:inherit;color:#151112">
                                                                                    <input  name="review_type" type="hidden" value="venta" style="font-family:inherit;color:#151112">
                                                        <table width="100%">
                                                        <tbody><tr>
                                                                                                    <td width="1%" style="font-family:inherit;color:#151112"></td>
                                                                                                    <td class="m_-4408019334066487335m_8348484661876589402title3" style="font-family:inherit;text-align:left;font-size:16px;letter-spacing:0;padding:5px 0;font-weight:700;color:#151112">Calificación</td>
                                                                                                    <td width="1%" style="font-family:inherit;color:#151112"></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td width="1%" style="font-family:inherit;color:#151112"></td>
                                                                                                    <td width="96%" style="font-family:inherit;color:#151112;color:rgba(91, 91, 140, 0.93);direction:ltr;text-align:left">
                                                                                                        <span class="m_-4408019334066487335m_8348484661876589402stars_cont-top" style="display:inline-block">
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_a" name="review_score" type="radio" value="1" style="font-family:inherit;color:#151112;margin-right:2px"><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★</span></label></span>
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_b" name="review_score" type="radio" value="2" style="font-family:inherit;color:#151112;margin-right:2px"><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★★</span></label></span>
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_c" name="review_score" type="radio" value="3" style="font-family:inherit;color:#151112;margin-right:2px"><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★★★</span></label></span>
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_d" name="review_score" type="radio" value="4" style="font-family:inherit;color:#151112;margin-right:2px"><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2 m_-4408019334066487335m_8348484661876589402avg" style="color:#151112" >★★★★</span></label></span>
                                                                                                        </span>
                                                                                                        <span class="m_-4408019334066487335m_8348484661876589402stars_cont-bottom" style="display:inline-block">
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_e" name="review_score" type="radio" value="5" style="font-family:inherit;color:#151112;margin-right:2px" checked=""><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★★★★★</span></label></span>
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_d" name="review_score" type="radio" value="6" style="font-family:inherit;color:#151112;margin-right:2px"><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2 m_-4408019334066487335m_8348484661876589402avg" style="color:#151112" >★★★★★★</span></label></span>
                                                                                                        </span>
                                                                                                        <span class="m_-4408019334066487335m_8348484661876589402stars_cont-bottom" style="display:inline-block">
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_e" name="review_score" type="radio" value="7" style="font-family:inherit;color:#151112;margin-right:2px" checked=""><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★★★★★★★</span></label></span>
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:5px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_d" name="review_score" type="radio" value="8" style="font-family:inherit;color:#151112;margin-right:2px"><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2 m_-4408019334066487335m_8348484661876589402avg" style="color:#151112" >★★★★★★★★</span></label></span>
                                                                                                        </span>
                                                                                                        <span class="m_-4408019334066487335m_8348484661876589402stars_cont-bottom" style="display:inline-block">
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:3px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_e" name="review_score" type="radio" value="9" style="font-family:inherit;color:#151112;margin-right:2px" checked=""><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★★★★★★★★★</span></label></span>
                                                                                                            <span class="m_-4408019334066487335m_8348484661876589402stars_radio_cont" style="display:inline-block;float:left;margin-right:1px"><input class="m_-4408019334066487335m_8348484661876589402stars_input_e" name="review_score" type="radio" value="10" style="font-family:inherit;color:#151112;margin-right:2px" checked=""><label for="m_-4408019334066487335m_8348484661876589402stars"><span class="m_-4408019334066487335m_8348484661876589402stars_input2" style="color:#151112" >★★★★★★★★★★</span></label></span>
                                                                                                        </span>
                                                                                                    </td>
                                                                                                </tr>
                                                        </tbody></table>
                                                        <table width="100%"><tbody><tr>
                                                                                                    <td width="1%" style="font-family:inherit;"></td>
                                                                                                    <td width="96%" style="font-family:inherit;">
                                                                <table cellspacing="0" cellpadding="0" border="0" class="m_-4408019334066487335m_8348484661876589402table1" style="width:100%">
                                                                <tbody> <tr><td class="m_-4408019334066487335m_8348484661876589402title3" width="100%" style="font-family:inherit;text-align:left;font-size:16px;letter-spacing:0;padding:5px 0;font-weight:700;color:#151112">Describe tu experiencia aquí *</td></tr>
                                                                                                                <tr><td style="font-family:inherit;color:#151112"><ul style="margin:0;padding:0">
                                                                                                                            <textarea class="m_-4408019334066487335m_8348484661876589402textarea" name="review_content" cols="40" rows="5" style="color:#151112;width:99%;padding-left:3px;height:60px;font-size:1em;border:solid 1px #dbddde;font-weight:lighter;font-family:inherit;border-radius:5px"></textarea><br>
                                                                                                                        	<input type="hidden" name="review_type" value="venta" />
																															<input type="hidden" name="source" value="sale_customer_experience" />
																															<input type="hidden" name="user_id" value="@SELLER_ID" />
																															<input type="hidden" name="stock_id" value="@CAR_ID" />
                                                                                                                        </ul></td></tr>
                                                                                                                <tr height="5px"></tr>
                                                                                                                <tr><td class="m_-4408019334066487335m_8348484661876589402y-row-center" style="font-family:inherit;color:#151112;text-align:center"><button type="submit" style="font-family:inherit;color:#151112;text-decoration:none;min-width:220px;min-height:36px;font-weight:bold;background-color: #151112;color:#ffffff;margin-top:15px;font-size:14x;border-radius:3px;padding:6px 13px;border:none">Publicar</button></td></tr>
																</tbody></table>
                                                                                                    </td>
                                                                                                    <td width="5%" style="font-family:inherit;color:#151112"></td>

                                                            </tr></tbody></table>
                                                    </form>                                                                             
																													
																													
																													
																													
																													
																													
									

						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->