<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 20px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 15px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
                           <b style="color:#151112;font-size:20px; text-align:center;display: inline-block">¡Felicidades y gracias por confiar en Kavak para ayudarte a vender tu auto!</b>
                            <br><br>
                            <span style="color:#151112">En las próximas horas te estaremos contactando para confirmar la inspección, prepárate para aprender mucho de tu auto</span> 
                            <br><br>
                            <span style="color:#151112"><b style="color:#151112;">Auto:</b> @CAR_MAKE @CAR_MODEL @CAR_VERSION @CAR_YEAR con @CAR_KM km aproximadamente </span> <br><br>

                            <span style="color:#151112"><b style="color:#151112;">Día y hora de la inspección:</b> @INSPECTION_DATE @INSPECTION_HOUR</span>  <br><br>

                            <span style="color:#151112"><b style="color:#151112;">Dirección de la inspección:</b> @INSPECTION_PLACE. Teléfono: @USER_PHONE // Correo: @USER_EMAIL</span>  <br><br>

    <b style="color:#32373b;font-size:20px; text-align:center;display: block">TU OFERTA ES</b>

                            <div style="display: inline-block; width:100%; margin: 0 auto;">
                                <table border="0" cellpadding="0" cellspacing="0" style="text-align: center;display:table;width:100%;padding-bottom: 5px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="height: 130px; text-align: center">
                                                                <div style="background-color:#151112;color: #fff;line-height: 50px;margin-bottom: 5px;">
                                                                    OFERTA A CONSIGNACIÓN
                                                                </div>
                                                                <span style="font-size: 20px;color:#151112;">
                                                                    @CONSIGNMENT_OFFER_MAX
                                                                </span> <br>
                                                                <span style="font-size: 13px;color:#151112;">
                                                                    Excelentes condiciones
                                                                </span>

                                                            </td>
                                                        </tr>
                                                </table>                                    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>      
                            </div>
                            
                            <span style="font-size: 15px; text-align: center;display: block;color:#151112">
                                La oferta tiene una validez de 5 días y puede variar según las deducciones aplicadas en la inspección.
                            </span>
                            <br>
                            <br>
                            <span style="color:#151112">En las próximas horas te estará contactando tu Experience Manager para confirmar los datos de la inspección. Si lo deseas puedes escribirnos a <b style="color:#151112">ayuda@kavak.com</b> o marcarnos al <b style="color:#151112">55 53516292.</b></span> 
                            <br>
                            <br>
 
                            <span style="color:#151112">Si tu auto cumple con nuestros estándares de calidad, el día de la inspección firmamos <b style="color:#151112">“El Acuerdo a Consignación”</b> y <b style="color:#151112">nos llevamos el auto</b>. Al momento de concretar una venta, te lo pagamos al precio <b style="color:#151112">fijado en la inspección.</b></span> <br><br>
                       
                            <span style="color:#151112">Si quieres conocer que piensan nuestros clientes haz  <a href="http://www.kavak.com/testimonios" target="_blank" style="text-decoration: none"><b style="color:#003366"> click aquí</b></a>, también puedes ver que dice la prensa de Kavak en los siguientes enlaces:</span> <br><br>
                            <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%" style="text-align: center;padding-bottom: 25px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2eY9Kq2" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;">
                                                                <img src="http://www.kavak.com/assets/uploads/1480369350CNN-expansion.jpg" style="height: auto;width:100%"  alt="KAVAK cierra ronda de inversión po 3MDD, de las más grandes de América Latina" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 12px">KAVAK cierra ronda de inversión po 3MDD, de las más grandes de América Latina</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2e5MGtN" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;"> 
                                                                <img src="http://www.kavak.com/assets/uploads/1480369364Hipertextual_logo.jpg" style="height: auto;width:100%"  alt="Dos venezolanos quieren acelerar la compraventa de autos en Latinoamérica" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Dos venezolanos quieren acelerar la compraventa de autos en Latinoamérica</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 10px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2g3QrAk" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;">
                                                                <img src="http://www.kavak.com/assets/uploads/1480107696ebusinesshoy.png" style="height: auto;width:100%;"  alt="Kavak o cómo comprar autos usados en internet en 30 minutos" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Kavak o cómo comprar autos usados en internet en 30 minutos</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2f2KrqT" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;">
                                                                <img src="http://www.kavak.com/assets/uploads/1480369589atraccion360.png" style="height: auto;width:100%;margin: 7px 0px" alt="Kavak, la startup que te asegura la venta de tu auto por internet" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Kavak, la startup que te asegura la venta de tu auto por internet</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://www.eluniversal.com.mx/articulo/autopistas/2016/11/25/una-apuesta-de-lujo-por-los-autos-de-segunda-mano"  style="text-decoration: none;display: inline-block;" target="_blank" rel="nofollow">
                                                                <img src="http://www.kavak.com/assets/uploads/1480426390El_Universal_logo_México_Mexico_City.png" style="height: auto;width:100%;margin: 12px 0;"  alt="Una apuesta de lujo por los autos de segunda mano" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Una apuesta de lujo por los autos de segunda mano</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>   
                                </tbody>
                            </table>
						 </div>
					   </div>
					 </div>
                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->