<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 15px; line-height: 16px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 15px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p><br>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                            Lamentablemente tu <b style="color:#151112;">@CAR_MAKE @CAR_MODEL @CAR_VERSION @CAR_YEAR </b>no cumple con los requisitos mínimos para la certificación Kavak. Si quisieras entender mejor nuestro proceso o los requisitos mínimos escríbenos al chat o llámanos al <b style="color:#151112;">+52 55 53516292.</b>
                            <br><br>

                            <b style="color:#151112;font-size: 18px">Requisitos Mínimos </b><br><br>
                            Todos los autos Kavak pasan por un proceso riguroso de certificación para garantizar su calidad, por ende deben cumplir como mínimo los siguientes requisitos:
                            <br>
                            <br>
                            <ul><li>Autos del 2010 en adelante.</li><br>
                            <li>Kilometraje máximo de 25,000 Km por año.</li><br>
                            <li>Título de propiedad limpio y tenencias pagas.</li><br>
                            <li>Servicios de mantenimiento realizados con las especificaciones de la marca.</li></span><br>
                            <li>Excelente condición mecánica y eléctrica. Motor limpio y libre de fugas (aceite, anticongelante, gases, etc.).</li></ul></span><br>

                            <b style="color:#151112;font-size: 18px">No debe tener en su historial:</b><br>
                            <br>
                            <ul><li>Accidentes que hayan ocasionado reparaciones mayores en el funcionamiento o apariencia del auto.</li><br>
                            <li>Ruidos constantes que se perciban durante el manejo.</li><br>
                            <li>Rastros de inundaciones (moho, óxido y humedad) o quemaduras en interiores.</li><br>
                            <li>Modificaciones ni piezas de recambio mayores que hayan alterado el diseño original del auto.</li><br>
                            <li>Ningún olor de forma permanente (cigarro, mascota, humedad, etc.).</li><br>
                            <li>Historia de uso intensivo, rudo ni con fines comerciales, tales como: reparto, carga, taxi, Uber, ambulancia, patrulla, carreras, etc.</li></ul><br>

                            Si quieres conocer que piensan nuestros clientes haz  <a href="http://www.kavak.com/testimonios" target="_blank" style="text-decoration: none"><b style="color:#003366"> click aquí</b></a>, también puedes ver que dice la prensa de Kavak en los siguientes enlaces:<br><br>
                            <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%" style="text-align: center;padding-bottom: 25px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2eY9Kq2" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;">
                                                                <img src="http://www.kavak.com/assets/uploads/1480369350CNN-expansion.jpg" style="height: auto;width:100%"  alt="KAVAK cierra ronda de inversión po 3MDD, de las más grandes de América Latina" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 12px">KAVAK cierra ronda de inversión po 3MDD, de las más grandes de América Latina</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2e5MGtN" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;"> 
                                                                <img src="http://www.kavak.com/assets/uploads/1480369364Hipertextual_logo.jpg" style="height: auto;width:100%"  alt="Dos venezolanos quieren acelerar la compraventa de autos en Latinoamérica" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Dos venezolanos quieren acelerar la compraventa de autos en Latinoamérica</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 10px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2g3QrAk" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;">
                                                                <img src="http://www.kavak.com/assets/uploads/1480107696ebusinesshoy.png" style="height: auto;width:100%;"  alt="Kavak o cómo comprar autos usados en internet en 30 minutos" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Kavak o cómo comprar autos usados en internet en 30 minutos</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://bit.ly/2f2KrqT" target="_blank" rel="nofollow" style="text-decoration: none;display: inline-block;">
                                                                <img src="http://www.kavak.com/assets/uploads/1480369589atraccion360.png" style="height: auto;width:100%;margin: 7px 0px" alt="Kavak, la startup que te asegura la venta de tu auto por internet" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Kavak, la startup que te asegura la venta de tu auto por internet</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin: 0 5px;" width="17%">
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 150px; position: relative">
                                                            <a href="http://www.eluniversal.com.mx/articulo/autopistas/2016/11/25/una-apuesta-de-lujo-por-los-autos-de-segunda-mano"  style="text-decoration: none;display: inline-block;" target="_blank" rel="nofollow">
                                                                <img src="http://www.kavak.com/assets/uploads/1480426390El_Universal_logo_México_Mexico_City.png" style="height: auto;width:100%;margin: 12px 0;"  alt="Una apuesta de lujo por los autos de segunda mano" class="img-responsive">
                                                                <span style="color: #9a9a9a;font-size: 13px">Una apuesta de lujo por los autos de segunda mano</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>


                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->