﻿<p style="font-size:18px">
	<b>!Te has registrado exitosamente en Kavak!</b>
</p>
<p>
	<b>Nombre de usuario:</b> @USER_EMAIL<br />
	<b>Contraseña:</b> @USER_PASSWORD<br />
</p>
<p>
	Para ingresar a tu cuenta de usuario por favor ingresa <a href="@URL_LOGIN" login>aquí</a>.
</p>