<!-- SECCION DATOS DEL CONTACTO  -->
         
         <div style="background-color: transparent;">
           <div style="margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;" class="block-grid ">
             <div style="border-collapse: collapse; display: table; width: 100%; background-color: #FFFFFF;">
               <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]-->

               <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
               <div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;">
                 <div style="background-color: transparent; width: 100% !important;">
                   <!--[if (!mso)&(!IE)]><!-->
                   <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                     <!--<![endif]-->


                     <div class="">
                       <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                       <div style="color: #555555; line-height: 120%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                         <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; text-align: left;">
                           
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px; text-align: justify">Hola 
                             @USER_NAME,
                           </p>
                           <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
								TE INFORMAMOS QUE TIENES UNOS TR&Aacute;MITES CON <b>M&Aacute;S DE 3 D&Iacute;AS DE RETRASO</b> SOBRE LA FECHA DE 
								ENTREGA TENTATIVA QUE MANEJAMOS
								<br /><br />
								TE RECUERDO QUE ES IMPORTANTE PODER CUMPLIR CON LAS FECHAS A NUESTROS CLIENTES PORQUE DE ESTO DEPENDE 
								LA EXPERIENCIA FINAL DE ELLOS.
                             </span>
                           </p>
                           
                           <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               DETALLES DEL TR&Aacute;MITE PENDIENTE:
                             </span>
                           </p>
                          <p style="margin: 0; font-size: 14px; line-height: 17px">&#160;<br><br>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>FECHA DE INICIADO:</strong>
								@KEY_EMAIL_STARTED_DATE
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>AUTO:</strong>:
                               @CAR_NAME
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>TIPO DE TR&Aacute;MITE:</strong>
								@KEY_EMAIL_PAPERWORK_TYPE
                             </span>
                           </p>                       
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px;">
                               <strong>ESTADO ACTUAL DE LAS PLACAS:</strong>
								@KEY_EMAIL_CURRENT_PLATE_STATUS
                             </span>
                           </p>
                           
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             <span style="font-size: 14px; line-height: 16px; ">
                               <strong>ESTADO FINAL DE LAS PLACAS:</strong>
								@KEY_EMAIL_FINAL_PLATE_STATUS
                             </span>
                           </p>
                           <p style="margin: 0; font-size: 12px; line-height: 14px">
                             	<span style="font-size: 14px; line-height: 16px;">&#160;</span><br>
                           </p>   
                       		<p style="margin: 0; font-size: 12px; line-height: 14px; color:#ffffff">
                             <span style="font-size: 14px; line-height: 16px; color:#ffffff">
                               P-206
                             </span>
                           </p> 
                         </div>
                       </div>
                       <!--[if mso]></td></tr></table><![endif]-->
                     </div>


                     <!--[if (!mso)&(!IE)]><!-->
                   </div>
                   <!--<![endif]-->
                 </div>
               </div>
               <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
             </div>
           </div>
         </div>
         
         <!-- FIN SECCION DATOS DEL AUTO  -->